body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  margin-left: 0;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

td {
  background-color: #fff;
  color: #333;
}

.botaoPrincipal {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}